html {
	height:100%;
	overflow:hidden;
	-webkit-font-smoothing: antialiased;

    
    /* Added this at Garth's suggestion. I'm still not totally sure I understand what it does
        but it seems like it makes sizing/laying things out easier. */
    -webkit-box-sizing: border-box;
}

body {
	height:100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.height_inherit{ height: inherit; }

#rowContainter{
	position:absolute;
}

.card_detail, .series_detail{
	position:absolute;
	-webkit-transition: top 0.3s linear;
	transition: top 0.3s linear;
	background-color:#FFFFFF;
    width:100%;
    height: inherit;
    overflow-y: auto;
    overflow-x: hidden;
}

.inner_detail{
	padding:20px;
}

/************************** Views ***************************/

/* The viewport is the "window" for the sliding panels. */

#viewport{
	position:absolute;
	top:40px;
    width: 100%;
    overflow: hidden;
}

/* slidecontainer is underneath the viewport and contains all of the child views. In order to slide views
    we change the left property of slidecontainer and it transitions under the viewport. We do most of the math 
    in main.js to set the widths and left property accordingly. */

#slidecontainer {
	position: relative;
    border: 1px solid #000;
	left: 0px;
	-webkit-transition: left 0.3s linear;
	transition: left 0.3s linear;
}

#cards_view{
	background-color: #F2DC99;
}

#cards_view_content{
	position:absolute;
    right: 0px;
	left:320px;
    height: inherit;
	margin:1px;
	padding:1px;
    overflow:hidden;
}

#decks_view{
	background-color: #F29057;
}

#search_view{
	background-color: #BF1F1F;
}

.viewcontainer {
	position: relative;
	float: left;
    width:100%;
}

/* All of the views start off hidden so that as we calculate and modify the left property, we don't
    get a transition that plays before things load. */
.viewhidden {
    visibility: hidden;
}

/************************** Lists ***************************/
#list_container {
	width: 320px;
	left: 0px;
    width: 320px;
    height: 100%;
    -webkit-transition: left 0.3s linear;
    transition: left 0.3s linear;
    position:absolute;
    background-color: #fff;
}
    
.list, .filter_list {
	font-family: 'LeagueGothicRegular';
	font-size: 30px;
	color: #666;
	text-shadow: 0 1px 0 #FFF;
	text-transform: uppercase;
}

.list {
	left:-320px;
	height:100%;
	width:320px;
	-webkit-transition: left 0.3s linear;
	position:absolute;
	z-index:1;
}

.list li, .filter_list li  {
	height: 42px;
	padding: 30px 10px 0 22px;
	border-top-color: #F5F5F5;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-color: #E6E6E6;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	background: #EDEDED;
}
.list li.listSelected {
	border-top-color: #EBEBEB;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-color: #CCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	background: #E0E0E0;
	color: #666;
}

.filter_list {
	list-style:none;
	margin:0px;
	width:320px;
}

/* Styles for card rules formatting */

br.rules_break{
}

.rules_sidenote{
	font-style:italic;
}

.rules_pay{
	background: #000000;
	color: #ffffff;
	-webkit-border-radius: 50px;
	text-align: center;
	letter-spacing:0px;
	font-size:10px;
}

.rules_keyword, .rules_mends, .rules_assault, .rules_required_hero, .rules_resistance, .rules_reputation{
	font-weight:bold;
}


.rarity_Common{
	color:#FFFFFF;
}

.rarity_Uncommon{
	color:#00FF00;
}

.rarity_Rare{
	color:#0000FF;
}

.rarity_Epic{
	color:#FF00FF;
}

.rarity_Legendary{
	color:#FF9900;
}