html {
	height:100%;
	overflow:hidden;
	-webkit-font-smoothing: antialiased;

    
    /* Added this at Garth's suggestion. I'm still not totally sure I understand what it does
        but it seems like it makes sizing/laying things out easier. */
    -webkit-box-sizing: border-box;
}

body {
	height:100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#rowContainter{
	position:absolute;
}

.card_detail, .series_detail{
	position:absolute;
	-webkit-transition: top 0.3s linear;
	transition: top 0.3s linear;
	background-color:#FFFFFF;
    width:100%;
    height: inherit;
    overflow-y: auto;
    overflow-x: hidden;
}

.inner_detail{
	padding:20px;
}

/************************** Views ***************************/

/* The viewport is the "window" for the sliding panels. */

#viewport{
	position:absolute;
	top:40px;
    width: 100%;
    height: inherit;
    overflow: hidden;
}

/* slidecontainer is underneath the viewport and contains all of the child views. In order to slide views
    we change the left property of slidecontainer and it transitions under the viewport. We do most of the math 
    in main.js to set the widths and left property accordingly. */

#slidecontainer {
	position: relative;
    border: 1px solid #000;
	left: 0px;
    height: inherit;
}

.animate_slidecontainer  {
	transition: left 0.3s linear;
    -webkit-transition: left 0.3s linear;
}

#cards_view{
	background-color: #F2DC99;
}

#cards_view_content{
	position:absolute;
    right: 0px;
	left:320px;
    height: inherit;
	margin:1px;
	padding:1px;
    overflow:hidden;
}

#decks_view{
	background-color: #F29057;
}

#search_view{
	background-color: #BF1F1F;
}

.viewcontainer {
	position: relative;
	float: left;
    height: inherit;
    width:100%;
}

/* All of the views start off hidden so that as we calculate and modify the left property, we don't
    get a transition that plays before things load. */
.viewhidden {
    visibility: hidden;
}

/************************** Lists ***************************/

/* This is the placeholder div for the list. We modify the contents of list_container when we 
change the list data. */
#list_container {
	width: 320px;
	left: 0px;
    height: 100%;
    position:absolute;
    background-color: #fff;
}
 
/* The .list class is what gets animated, it starts out at -320px and then we animate it in
    when the page loads and when we change the list data. 

    The width here needs to match the width of #list_container and we need to change the left
    property if the width changes */
.list {
	left:-320px;
	height:100%;
	width:320px;
	-webkit-transition: left 0.3s linear;
	position:absolute;
	z-index:1;
}

.list_no_animate{
	left:0px;
}

.list, .filter_list {
	font-family: 'LeagueGothicRegular';
	font-size: 30px;
	color: #666;
	text-shadow: 0 1px 0 #FFF;
	text-transform: uppercase;
}

.list li, .filter_list li  {
	height: 42px;
	padding: 30px 10px 0 22px;
	border-top-color: #F5F5F5;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-color: #E6E6E6;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	background: #EDEDED;
}
.list li.listSelected {
	border-top-color: #EBEBEB;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-color: #CCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	background: #E0E0E0;
	color: #666;
}

.filter_list {
	list-style:none;
	margin:0px;
	width:320px;
}

/************************** Styles for card rules formatting  ***************************/

br.rules_break{
}

.rules_sidenote{
	font-style:italic;
}

.rules_pay{
	background: #000000;
	color: #ffffff;
	-webkit-border-radius: 50px;
	text-align: center;
	letter-spacing:0px;
	font-size:10px;
}

.rules_keyword, .rules_mends, .rules_assault, .rules_required_hero, .rules_resistance, .rules_reputation{
	font-weight:bold;
}


.rarity_Common{
	color:#838383;
}

.rarity_Uncommon{
	color:#43BC60;
}

.rarity_Rare{
	color:#82A7DD;
}

.rarity_Epic{
	color:#C466B7;
}

.rarity_Legendary{
	color:#DDA925;
}