@import url("fonts/stylesheet.css");

html {
	height:100%;
	overflow:hidden;
	-webkit-font-smoothing: antialiased;
}

body {
	height:100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.height_inherit{ height: inherit; }

#rowContainter{
	position:absolute;
}

.template{
}

.card_detail, .series_detail{
	position:absolute;
	-webkit-transition: top 0.3s linear;
	transition: top 0.3s linear;
	background-color:#FFFFFF;
    width:100%;
    height: inherit;
    overflow-y: auto;
    overflow-x: hidden;
}

#viewport{
	position:absolute;
	top:40px;
    width: 100%;
    overflow: hidden;
}

#view_1_content{
	position:absolute;
    right: 0px;
	left:200px;
    height: inherit;
	margin:1px;
	padding:1px;
    overflow:hidden;
}

/* Lists */
#list_container {
	width: 320px;    
}

.list {
	font-family: 'LeagueGothicRegular';
	font-size: 30px;
	color: #666;
	text-shadow: 0 1px 0 #FFF;
	text-transform: uppercase;
}

.list li {
	height: 42px;
	padding: 30px 10px 0 22px;
	border-top-color: #F5F5F5;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-color: #E6E6E6;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	background: #EDEDED;
}
.list li.listSelected {
	border-top-color: #EBEBEB;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-color: #CCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	background: #E0E0E0;
	color: #666;
}

#set_list_container {
	width: 100%;
	height:100%;
}


.listholder {
    left: -300px; /* If this changes, be sure to change the #set_list_container */
    width: 320px;
    height: 100%;
    -webkit-transition: left 0.3s linear;
    transition: left 0.3s linear;
    position:absolute;
    z-index:10;
    background-color: #fff;
}

#list_holder {
    width: 200px;
    left: 0px;
}

/* Views */

#view1{
	background-color: #F2DC99;
}

#view2{
	background-color: #F29057;
}

#view3{
	background-color: #BF1F1F;
}

#slidecontainer {
	position: relative;
    border: 1px solid #000;
	left: 0px;
	-webkit-transition: left 0.3s linear;
	transition: left 0.3s linear;
}

.viewcontainer {
	position: relative;
	float: left;
    width:100%;
}

.viewhidden {
    visibility: hidden;
}

#content {
    float: left;
}

.rules_keyword{
	font-weight:bold;
}

br.rules_break{
}


