html {
	height:100%;
	overflow:hidden;
}

body {
	height:100%;
}

.height_inherit{ height: inherit; }

#rowContainter{
	position:absolute;
}

.template{
}

.series_detail{
	position:absolute;
	-webkit-transition: all 0.3s linear;
}

#viewport{
	top:40px;
}

#view_1_content{
	position:absolute;
	width:100%;
	left:200px;
	margin:1px;
	padding:1px;
}

/* Lists */
#list_container {
	width: 200px
}

#set_list_container {
	width: 100%;
	height:100%;
}


.listholder {
    left: -300px; /* If this changes, be sure to change the #set_list_container */
    width: 200px;
    height: 100%;
    -webkit-transition: left 0.3s linear;
    position:absolute;
    z-index:10;
    background-color: #fff;
}

#list_holder {
    width: 200px;
    left: 0px;
}

/* Views */

#view1{
	background-color: #F2DC99;
}

#view2{
	background-color: #F29057;
}

#view3{
	background-color: #BF1F1F;
}

#viewport {
    width: 100%;
    overflow: hidden;
	position: relative;
}

#slidecontainer {
	position: relative;
    border: 1px solid #000;
	left: 0px;
	-webkit-transition: left 0.3s linear;
}

.viewcontainer {
	position: relative;
    float: left;
}

.viewhidden {
    visibility: hidden;
}

