html {
	height:100%;
}

body {
	height:100%;
}

.height_inherit{ height: inherit; }

#rowContainter{
	position:absolute;
	top:40px;
}

#set_list {
	width: 200px;
}

#set_list {
	height:100%;
}

#view2{
	/*display:none;*/
}

#view3{
	/*display:none;*/
}

#viewport {
    border: 1px solid #f00;
    width: 100%;
    overflow: hidden;
	position: relative;
}

#slidecontainer {
	position: relative;
    border: 1px solid #000;
	left: 0px;
	-webkit-transition: left 0.5s linear;
}

.viewcontainer {
	position: relative;
    background-color: #ff0;
    float: left;
}

